// ## Colors

$white: #ffffff;
$light-stone: #f3e6d8;
$gray-stone: #e4ded8;
$dark-gray-stone: #5f574e;
$dark-stone: #302d2c;
$brown: #854632;
$dark-rose: #7b284f;
$light-rose: #fff5fa;

// ## Fonts

$header-font: 'YoungSerif';

$regular-font: 'Outfit-Regular';
$semi-font: 'Outfit-SemiBold';
$bold-font: 'Outfit-Bold';
